body.bg__softgray {
  font-family: "Montserrat", sans-serif;
  color: #383c43;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.7em;
}
.navbar__entre {
  padding: 1.1rem 1rem;
}
.bg__white {
  background-color: #ffffff !important;
}
