@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.displayFlexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container {
  background: white;
  flex-grow: 1;

  overflow: hidden;
  margin-right: 10px;
}

.container ::-webkit-scrollbar {
  width: 4px;
  margin-right: 20px;
}

/* Track */
.container ::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.container ::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

/* Handle on hover */
.container ::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}

.header_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  display: flex;
  align-items: center;

  /* PC - Black */

  color: #18243a;
}

.header_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  margin-left: 10px;
  /* Gray 3 */

  color: #828282;
}

.header_close {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  /* Red */

  color: #eb5757;
  cursor: pointer;
}

.headerBar {
  width: 298px;
  height: 71px;
  margin-bottom: 32px;
  /* Gray 6 */
  align-self: center;
  background: #f2f2f2;
  opacity: 0.5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 49px;
  padding-left: 49px;
}
.onlineDot {
  background: #68c671;
  border: 4px solid white;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius: 50px;
  bottom: 2px;
  right: 8px;
}

.headerRooms {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  /* PC - Black */

  color: black;
  cursor: pointer;
}
.otherChatMessage {
  background: #f5f5f5;
  border-radius: 0px 12px 12px 12px;
  padding: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 190%;
  /* identical to box height, or 23px */

  /* Gray 2 */
  max-width: 298px;
  margin-top: 14px;
  color: #4f4f4f;
}

.nameOnChat {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* PC - Black */

  color: #18243a;
}

.chatNameAbout {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  /* PC - Grey - 01 */

  color: #b9b9b9;
}

.timeStampOfChat {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  /* PC - Grey - 01 */
  margin-top: 15px;
  color: #b9b9b9;
}

.callMessage {
  position: fixed;
  bottom: 80px;
  width: 310px;
  display: flex;
  flex-direction: column;
  height: 154px;
  background: #f5f5f5;
  border-radius: 12px;
}

.callRequestName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* PC - Black */

  color: #18243a;
}

.callRequestDescription {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */

  /* PC - Grey - 01 */

  color: #b9b9b9;
}

.callAccept {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* PC - Green */

  color: #68c671;
  cursor: pointer;
}

.callDecline {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* Red */

  color: #eb5757;
  cursor: pointer;
}
.textBoxContainer {
  border-top: 1px solid #b9b9b9;
  height: 40px;
  position: absolute;
  bottom: 0;
  padding-left: 32px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 28px;
  padding-right: 28px;
}

.textinput {
  border-width: 0px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  /* identical to box height */

  /* PC - Grey - 01 */

  color: #b9b9b9;
}

.box input::-webkit-input-placeholder {
  color: #b9b9b9;
}

@media screen and (max-width: 600px) {
  .container {
    display: none;
  }
}
