@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/keyframes';


.navbar{
	&__entre{
		padding:1.1rem 1rem;
	}
}

.section{
	&__footer{
		padding:26px 0 !important;
	}

	&__rooms-call{
		min-height: 100vh;
	}
}

.max-width-xxl{
	@media screen and(min-width: 1440px) {
		max-width: 1440px;
		margin:0 auto;
	}
}

.form{
	&__search{
		height: 44px;
		background-color:#F6F6F6;
		padding: 0 15px;
		border-radius: 100px;
		max-width: 286px;

		button{
			border: none;
			background-color: transparent;
			padding: 0;
		}

		input{
			background-color:transparent;
			border:none;
			border-radius:0;

			&:focus{
				background-color: #fff0;
				border-color: #80bdff00;
				outline: 0;
				box-shadow: none;
				color: color('gray-1');
			}

			&::-webkit-input-placeholder {
				color:color('gray-1');
				font-style: italic;
				font-size:14px;
			}
			&:-moz-placeholder {
				color:color('gray-1');
				font-style: italic; 
				font-size:14px; 
			}
			&::-moz-placeholder {
				color:color('gray-1');
				font-style: italic; 
				font-size:14px; 
			}
			&:-ms-input-placeholder {  
				color:color('gray-1');
				font-style: italic; 
				font-size:14px;
			}
		}
	}
}

.no__arrow{
	&::after{
		display: none;
	}
}

.list{

	&__dropdown{
		padding: 1.5rem;
		width: 241px;
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
		box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
		top: 125%;

		&.create{

			@media screen and(max-width: $br-md) {
				position: absolute !important;
				left: 50%;
				transform: translateX(-50%);
			}			

			hr{
				border-top:1px solid color('gray-1');
			}

			a{
				display: flex;
				justify-content:start;
				align-items: center;
				padding:0;
				margin-bottom: 15px;

				&:last-child{
					margin-bottom: 0px;
				}

				&:hover{
					background-color: transparent;
				}

				img{
					width:28px;
					height:28px;
					object-fit: contain;
				}
			}
		}

		&.normal{			

			hr{
				border-top:1px solid color('gray-1');
			}

			a{
				display: flex;
				justify-content:start;
				align-items: center;
				padding:0;
				margin-bottom: 15px;

				&:last-child{
					margin-bottom: 0px;
				}

				&:hover{
					background-color: transparent;
				}

				img{
					width:28px;
					height:28px;
					object-fit: contain;
				}
			}
		}
	}

	&__footer{
		list-style: none;
		padding:0;
		margin:0;

		li{
			display: inline-block;
			margin-right: 20px;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__post{
		&-detail{
			list-style: none;
			margin:0;
			padding:0;

			li{
				&:last-child{
					margin-bottom: 0 !important;
				}

				a{
					display: flex;
					justify-content:start;
					align-items: center;

					img{
						width:24px;
						height:24px;
						object-fit: contain;
						margin-right: 12px;
					}
				}
			}
		}
	}

	&__carousel{
		list-style: none;
		padding:0;
		margin:0;

		li{
			.content{
				width:100%;
				display: inline-block;
				height:189px;
				border-radius:16px;
				overflow:hidden;

				img{
					width:100%;
					height:100%;
					object-fit: cover;
				}

				span{
					position:absolute;
					left:50%;
					transform:translateX(-50%);
					top:30px;
					width: 85%;
					text-align: center;
				}
			}
		}

		.slick-dots li button:before {
			font-size:10px;
		}
	}

	&__networking{
		.list{
			margin-bottom: 1.5rem;

			// &:nth-last-child(1){
			// 	margin-bottom: 0;
			// }

			// &:nth-last-child(2){
			// 	margin-bottom: 0;
			// }
		}
	}

	&__submenu{
		&-filter{
			list-style: none;
			margin:0;
			padding:0;
			background-color: color('white');
			border-radius:4px;
			display: flex;
			justify-content:center;
			align-items: center;
			height: 51px;
			width:270px;

			li{
				a{
					padding:0 6px;
					color:color('gray-4');

					&:hover{
						color:color('blue');
					}

					&.active{
						color:color('blue');
					}
				}
			}
		}
	}

	&__nav{
		&-tab{
			&:before{
				position:absolute;
				content:"";
				border-bottom:1px solid #E1E1E1;
				width:100%;
				left:0;
				bottom:0;
			}

			>ul{
				max-width:407px;
				margin:0 auto;

				li {
					a{
						padding: .5rem 0;
						padding-bottom: 1rem;
						padding-top: 0;
						transition: .5s;

						&:hover{
							background-color:transparent !important;
							position:relative;
							color:color('black') !important;

							&::after{
								position:absolute;
								content:"";
								border-bottom:3px solid color('oldblue');
								width:100%;
								bottom:-1px;
								left:0;
							}
						}

						&.active{
							background-color:transparent !important;
							position:relative;
							color:color('black') !important;

							&::after{
								position:absolute;
								content:"";
								border-bottom:3px solid color('oldblue');
								width:100%;
								bottom:-1px;
								left:0;
							}
						}
					}
				}
			}
		}
	}

	&__navbar{
		margin:0 10px;
		li{
			margin:0 5px;

			&.active{
				.icon{
					color:color('oldblue') !important;
					background-color:transparentize(color('oldblue'), .95);

					.path{
						&.home{
							background-image:url('../images/Frame.png');					
						}

						&.network{
							background-image:url('../images/Frame (1).png');
						}

						&.market{
							background-image:url('../images/Frame (2).png');
						}

						&.inbox{
							background-image:url('../images/Frame (3).png');
						}
					}
				}
			}

			.icon{
				display: flex;
				justify-content: start;
				align-items: center;
				height: 44px;
				border-radius: 100px;
				padding: 0 12px !important;
				transition: .5s;
				.path{
					width:20px;
					height:20px;
					margin-right:10px;
					background-size: contain;
					background-repeat:no-repeat;
					background-position:center;
					transition:.5s;

					&.home{
						background-image:url('../images/Frame (4).png');
					}

					&.network{
						background-image:url('../images/Frame (5).png');
					}

					&.market{
						background-image:url('../images/Frame (6).png');
					}

					&.inbox{
						background-image:url('../images/Frame (7).png');
					}

				}

				&:hover{
					color:color('oldblue') !important;
					background-color:transparentize(color('oldblue'), .95);

					.path{
						&.home{
							background-image:url('../images/Frame.png');					
						}

						&.network{
							background-image:url('../images/Frame (1).png');
						}

						&.market{
							background-image:url('../images/Frame (2).png');
						}

						&.inbox{
							background-image:url('../images/Frame (3).png');
						}
					}
				}
			}
		}

		&-profile{
			li{
				margin:0 .8rem;

				&:first-child{
					margin-left:0;
				}

				&:last-child{
					margin-right:0;
				}

				.calendar{
					width: 44px;
					height:44px;
					background-color:#F6F6F6;
					border-radius:50%;
					display: flex;
					justify-content:center;
					align-items: center;
				}

				.add{
					width: 44px;
					height:44px;
					background-color:color('oldblue');
					border-radius:50%;
					display: flex;
					justify-content:center;
					align-items: center;
					transition:.5s;

					&:hover{
						box-shadow: 5px 5px 40px transparentize(color('oldblue'), .8);
					}

					&[aria-expanded="true"]{
						box-shadow: 5px 5px 40px transparentize(color('oldblue'), .8);
					}
				}

				.profile{
					width: 44px;
					height:44px;
					border-radius:50%;
					padding: 0 !important;
					
					.image{
						overflow: hidden;
						img{
							object-fit: cover;
							width:100%;
							height:100%;
						}
					}

					&.notification{
						&::after{
							position:absolute;
							content:"";
							width:17px;
							height:17px;
							border:3px solid color('white');
							background-color:#68C671;
							right: -5px;
							bottom: 0;
							border-radius:50%;
						}
					}
				}
			}
		}
	}

	&__menu{
		&-personal{
			list-style: none;
			margin:0;
			padding:0;

			li{
				margin-bottom: 20px;

				&:last-child{
					margin-bottom: 0;
				}

				a{
					display: flex;
					justify-content:start;
					align-items: center;

					img{
						width:20px;
						height:20px;
						object-fit: contain;
						margin-right:15px;
					}
				}
			}
		}
	}
}

.wrapper{

	&__control{
		display: flex;
		justify-content:center;
		align-items: center;

		a{
			margin-right: 25px;
			width:66px;
			height:66px;
			display: flex;
			justify-content:center;
			align-items: center;
			border-radius:50%;
			box-shadow: -10px 20px 50px transparentize(#464646, .9);

			&.mic{
				background-color:color('red');
			}

			&.plus{
				background-color:color('oldblue');
			}

			&.exit{
				background-color:color('white');
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__connect{
		padding: 3rem 1.5rem;

		>.people{
			min-height:70vh;
		}
	}

	&__chat-room{

		&.one-on-one{
			width:calc(100%/3);
		}

		.box__pd{
			padding:1.5rem;
			display: flex;
			flex-direction: column;

			.user__chat{
				&::before{
					content:"";
					position:absolute;
					left:0;
					top:50%;
					transform:translateY(-50%);
					width:8px;
					height:8px;
					border-radius:50%;
					background-color:color('green');
				}
			}

			.scrol__chat{
				height:50vh;
				overflow-y: auto;
				padding-right: 4px;

				&.one-on-one{
					// height:67vh;
					// height:calc(100vw * .314);
					height: calc(20vh * 3.4);
				}

				/* width */
				&::-webkit-scrollbar {
					width: 5px;
					margin-right: -5px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
					box-shadow: none;
					border-radius: 10px;
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: #E0E0E0;
					border-radius: 10px;
				}
			}
		}
	}

	&__messaging{
		padding:1.5rem;
		background-color:white;
		border-radius:16px;

		a{
			display: flex;
			justify-content:center;
			align-items: center;

			img{
				width:24px;
				height:24px;
				object-fit: contain;
			}
		}
	}

	&__card{
		&-post{
			padding:1.5rem;
			background-color:white;
			border-radius:16px;

			img{
				width:100%;
				height:135px;
				border-radius:12px;
				object-fit: cover;
				overflow:hidden;

				box-shadow: 0 35px 50px -30px transparentize(#3D649D, .4);
			}

			.describe{
				img{
					width:40px;
					height:40px;
					object-fit: cover;
					border-radius:50%;
				}

				.info{
					span{
						display: inline-block;
						width:100%;
					}
				}
			}
		}
	}

	&__content{
		border-radius: 20px;
		padding: 2rem 0;
		border:1px solid #CCCCCC;

		.detail-content{
			padding: 0 1.5rem;
		}
	}

	&__menu{
		border-radius:16px;
		padding:2rem;

		.profile{
			img{
				width:50px;
				height:50px;
				object-fit: cover;
				border-radius:50%;
				overflow:hidden;
			}
		}

		.describe{
			.list__personal{
				list-style: none;
				margin:0;
				padding:0;
				max-width:127px;

				li{
					&:nth-child(2){
						position:relative;

						&:after{
							content:"";
							position:absolute;
							border-right:1px solid color('gray-1');
							height: 16px;
							right: -23%;
							top: 50%;
							transform: translateY(-50%);
						}

						&:before{
							content:"";
							position:absolute;
							border-right:1px solid color('gray-1');
							height: 16px;
							left: -27%;
							top: 50%;
							transform: translateY(-50%);
						}
					}

					a{
						color:color('gray-1');
						transition:.5s;

						&:hover{
							color:color('black');
						}
					}
				}
			}
		}
	}
}

.hr{
	&__personal{
		border-top:1px solid transparentize(color('gray-1'), .7);
		margin: 25px 0;
	}

	&__room{
		border-top:1px solid transparentize(color('gray-1'), .8);
		margin: 25px 0;
	}
}

.btn{
	&__14-14{
		padding: 14px 14px;
	}

	&__13-25{
		padding: 13px 25px;
	}

	&__15-45{
		padding: 15px 45px;
	}

	&__filter-general {
		border: none;
		background-color: transparent;
	}
}

.box{

	&__notif-join{
		background-color:#F5F5F5;
		padding:1rem;
		position:absolute;
		left:0;
		bottom:0;
		border-radius: 12px;

		.detail{
			img{
				width:44px;
				height:44px;
				object-fit: cover;
				border-radius:50%;
			}
		}

		.control{
			a{
				margin-right: 35px;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	&__card-connect{
		padding:1.5rem;
		background-color:color('white');
		border-radius:8px;

		.image{
			display: inline-block;

			img{
				width:90px;
				height:90px;
				border-radius:50%;
				object-fit: cover;
			}

			&.online{
				&::after{
					content:"";
					position:absolute;
					width:21px;
					height:21px;
					border-radius:50%;
					background-color:color('green');
					border:4px solid color('white');
					right:3px;
					bottom:0;
				}
			}
		}
	}

	&__write{
		button{
			width:42px;
			height:42px;
			border: none;
			background-color: color('oldblue');
			padding: 0;
			border-radius:8px;
			display: flex;
			justify-content:center;
			align-items: center;
			flex-shrink:0;
		}

		input{
			background-color:transparent;
			border:none;
			border-radius:0;

			&:focus{
				background-color: #fff0;
				border-color: #80bdff00;
				outline: 0;
				box-shadow: none;
				color: color('gray-1');
			}

			&::-webkit-input-placeholder {
				color:color('gray-1');
				font-style: italic;
				font-size:14px;
			}
			&:-moz-placeholder {
				color:color('gray-1');
				font-style: italic; 
				font-size:14px; 
			}
			&::-moz-placeholder {
				color:color('gray-1');
				font-style: italic; 
				font-size:14px; 
			}
			&:-ms-input-placeholder {  
				color:color('gray-1');
				font-style: italic; 
				font-size:14px;
			}
		}
	}

	&__group-chat{

		&.right{
			text-align:right;
			div{
				justify-content:flex-end !important;

				.profile{
					text-align:right;

					.image{
						margin-right: 0 !important;
						margin-left:1rem;
					}

					div{
						&:nth-child(1){
							order: 2;
						}

						&:nth-child(2){
							order: 1;
						}
					}
				}
			}
		}

		.profile{
			.image{
				img{
					width:44px;
					height:44px;
					border-radius:50%;
					object-fit: cover;
				}

				&.online{
					&::after{
						content:"";
						position:absolute;
						width:15px;
						height:15px;
						background-color:color('green');
						border:2px solid white;
						right: -3px;
						bottom: -1px;
						border-radius: 50%;
					}
				}
			}
		}

		.text{
			border-radius: 0 12px 12px 12px;
			padding:1rem;
			display: inline-block;
			max-width: 100%;
		}
	}

	&__room-member{
		.icon{
			width:32px;
			height:32px;
			border-radius:50%;
			background-color:#F2F2F2;
		}
	}

	&__room-menu{
		background-color:#F2F2F2;
		border-radius:8px;

		a{
			padding: 22px 15px;
		}
	}

	&__mic{
		position:absolute;
		bottom:30px;
		left:50%;
		transform:translateX(-50%);

		a{
			width:66px;
			height:66px;
			border-radius:50%;
			background-color:color('red');
		}
	}

	&__desc-join-call{
		width:100%;
		svg{
			width:100px;
			height:100%;
		}
	}

	&__networking{
		padding: 1.5rem;
		background-color:color('white');
		border-radius:8px;
	}

	&__list{
		&-networking{
			border-radius:8px;
			overflow:hidden;
			transition:.5s;

			&:hover{
				box-shadow: -50px 50px 50px 0px transparentize(#464646, .9);

				>a{
					background-color:color('blue');
					color:white !important;
				}
			}

			.detail{
				padding: 1.5rem;
				.people{
					width:50%;
					margin:0 12px;

					img{
						width:43px;
						height:43px;
						object-fit: cover;
						border-radius:50%;
						overflow:hidden;
						flex-shrink: 0;
						margin-left: -12px;
						border: 3px solid white;
					}
				}

				span{
					width:50%;
				}
			}

			hr{
				border-top:1px solid #F2F2F2;
			}

			>a{
				width:100%;
				transition:.5s;
				padding: 1rem;
				background-color:white;
			}

		}
	}
}

.dropdown-toggle {
	&.filter{
		&::after{
			background-image:url('../images/Vector caret.png');
			object-fit: contain;
			width: 12px;
			height: 10px;
			border: none;
			background-repeat: no-repeat;
			vertical-align: 0rem;
			transition:.5s;
			transform-origin: center;
		}

		&[aria-expanded="true"]{
			&::after{
				transform:rotate(-180deg);
			}
		}
	}
}

.animate{
	&__roate1{
		animation: roate1 1s linear infinite;
		transform-origin: center;
	}
}

.join__call{
	position:absolute;
	width:100%;
	z-index: 99;
	left:0;
	top:0;
}



.margin{
	&__plus{
		&-em{
			&-8{
				margin-top: 8em;
			}

			&-top{

				&-s{
					&-2{
						margin-top: 2.5em;
					}
				}

				&-3{
					margin-top: 3em;
				}

				&-5{
					margin-top: 5em;

					&.md-up{
						@media screen and(max-width: $br-md) {
							margin-top: 12em;
						}
					}

					&.sm-0{
						@media screen and(max-width: $br-sm) {
							margin-top: 0;
						}
					}
				}

				&-6{
					margin-top: 6em;

					&.sm-3{
						@media screen and(max-width: $br-sm) {
							margin-top: 3em;
						}
					}
				}

				&-10{
					margin-top: 10em;

					&.md{
						@media screen and(max-width: $br-md) {
							margin-top: 5em;
						}
					}

					&.sm{
						@media screen and(max-width: $br-sm) {
							margin-top: 5em;
						}
					}
				}

				&-12{
					margin-top: 12em;

					&.md{
						@media screen and(max-width: $br-md) {
							margin-top: 6em;
						}
					}
				}

				&-15{
					margin-top: 15em;

					&.md-top-5{
						@media screen and(max-width: $br-md) {
							margin-top: 5em;
						}
					}
				}

				&-20{
					margin-top: 20em;

					&.md-t-0{
						@media screen and(max-width: $br-md) {
							margin-top: 0;
						}
					}
				}
			}

			&-bottom{

				&-5{
					margin-bottom: 5em;
				}

				&-8{
					margin-bottom: 8em;

					&.mb-md-0{
						@media screen and(max-width: $br-md) {
							margin-bottom: 0;
						}
					}
				}

				&-10{
					margin-bottom: 10em;

					&.md{
						@media screen and(max-width: $br-md) {
							margin-bottom: 3em;
						}
					}
				}
			}

			&-left{
				&-2{
					margin-left: 2em;

					&.md-0{
						@media screen and(max-width: $br-md) {
							margin-left: 0;
						}
					}

				}

				&-10{
					margin-left: 10em;

					&.sm-0{
						@media screen and(max-width: $br-md) {
							margin: 0;
						}
					}
				}
			}

			&-right{
				&-1{
					margin-right: 1em;
				}
			}
		}
	}

	&__minus{
		&-px{
			&-top{
				&-5{
					margin-top:-5px;
				}
			}
		}
		&-em{
			&-top{
				&-5{
					margin-top: -5em;
				}
			}
		}
	}
}


// typography

.text{

	&__27{
		&-lg{
			@media screen and(max-width: 1024px) {
				font-size: 18px !important;
			}
		}
	}

	&__24{
		&-sm{
			@media screen and(max-width: $br-sm) {
				font-size: 18px !important;
			}
		}
	}

	&__36{
		&-sm{
			@media screen and(max-width: $br-sm) {
				font-size: 30px !important;
			}
		}
	}

	&__58{
		&-sm{
			@media screen and(max-width: $br-sm) {
				font-size: 45px !important;
			}
		}
	}

	&__48{
		&-md{
			@media screen and(max-width: $br-md) {
				font-size: 40px !important;
			}
		}

		&-sm{
			@media screen and(max-width: $br-sm) {
				font-size: 30px !important;
			}
		}
	}


	&__responsive{
		&-md{
			&-18{
				@media screen and(max-width: $br-md) {
					font-size: 14px !important;
				}
			}

			&-16{
				@media screen and(max-width: $br-md) {
					font-size: 14px !important;
				}
			}

			&-vw{
				&-3{
					@media screen and(max-width: $br-md) {
						font-size: 5vw !important;
					}
				}
			}

			&-vw{
				&-s{
					&-2{
						@media screen and(max-width: $br-md) {
							font-size: 3vw !important;
						}
					}
				}
			}
		}

		&-max{

			&-3{
				@media screen and(min-width: 1440px) {
					font-size: 40px !important;
				}
			}

			&-7{
				@media screen and(min-width: 1440px) {
					font-size: 98px !important;
				}
			}

			&-s{

				&-2{
					@media screen and(min-width: 1440px) {
						font-size: 32px !important;
					}
				}

				&-3{
					@media screen and(min-width: 1440px) {
						font-size: 50px !important;
					}
				}

				&-4{
					@media screen and(min-width: 1440px) {
						font-size: 60px !important;
					}
				}
			}
		}

		&-sm{
			&-30{
				font-size:25px !important;
			}

			&-vw{
				&-7{
					@media screen and(max-width: $br-sm) {
						font-size:11vw !important;

					}
				}
				&-s{
					&-2{
						@media screen and(max-width: $br-sm) {
							font-size:5vw !important;

						}
					}

					&-3{
						@media screen and(max-width: $br-sm) {
							font-size:6vw !important;
						}
					}

					&-4{
						@media screen and(max-width: $br-sm) {
							font-size:6vw !important;
						}
					}
				}
			}
		}

		&-mm{
			&-vw{
				&-3{
					@media screen and(max-width: $br-mm) {
						font-size:8vw !important;
					}
				}
			}
		}
	}
}
