html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  word-break: break-word;
  color: #00c4ff;
}

span {
  word-break: break-word;
}
